.center {
    text-align: center;
}

.last_temp {
    margin-bottom: 1rem;
    border: 1px solid #eee;
    border-radius: 1rem;
    border-collapse: collapse;
    box-shadow: 0 0 12px #ddd;
}

.last_temp h6 {
    margin-bottom: 0;
}

.column h1, 
.column h2, 
.column h3, 
.column h4, 
.column h5, 
.column h6 {
    margin-bottom: 0.2rem;
}

.electricity_container {
    margin-top: 20px;
    margin-bottom: 50px;
}

header {
    margin-bottom: 1rem;
}