<?php
defined('BASEPATH') OR exit('No direct script access allowed');

$db_secret = array(
	'username' => 'username',
	'password' => 'password',
	'database' => 'database',
    'hostname' => 'hostname'
);
